.page-min-h{
  min-height:100vh;
}
.page-ttl{
  font-size:16px;
  margin:20px 10px 20px;
  color:#333;
  font-weight:500;
  padding-left:7px;
  padding-bottom:2px;
  border-left:2px solid $red_1;
}
.no-data {
  text-align: center;
  font-size: 14px;
  padding: 20px;
}
.flex-center{
  display:flex;
  align-items: center;
}
.flex-top{
  display:flex;
  align-items: normal;
}

/* button */

button.basic{
  border:1px solid #a3a3a3;
  background:#fff;
  color:#212121;
  text-align:center;
  font-size:16px;
}
button.size-ss{
  width:25px;
  height:25px;
}

/* input */

input{
  border:1px solid #a3a3a3;
  background:#fff;
}